/*
input[type='file'] {
    color: rgba(0, 0, 0, 0.75)
    }
/* #id_docfile {display: none;} /* hide the original upload files button from Django forms, enable it back for testing*/
.button {
    border-radius: 4px;
    padding: 10px;
    margin: 20px 5px 12px 5px;
    background-color: rgba(128,0,128,0.5);
    box-shadow: 0 0 3px black;
    display: inline-block;
    }
.button:hover {
    cursor: pointer;
    }
a.button {
    text-decoration: none;
    color: black;
    }