<!DOCTYPE html>
<html lang="ja-JP">
    <head>
        <meta charset="utf-8">
        <title>ファイルアップロード</title>
        <!--<link rel="icon" type="image/svg+xml" href="icon.svg" sizes="any">-->
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if documents %}
            データベース内のすべての文書：
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>まだデータベースに文書がアップロードされておりません。</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <h2>ファイル選択</h2>
        <form action="{% url "my-view" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="確認"/></p>
        </form>
    </body>
</html>
