<!DOCTYPE html>
<html lang="ja-JP">
    <head>
        <meta charset="utf-8">
        <title>ファイルアップロード</title>
        {% load static %}
        {% load sizify %}
        <link rel="icon" type="image/svg+xml" href="{% static 'icon.svg' %}" sizes="any">
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body id="dropzone">
        <!-- List of uploaded documents -->
        {% if documents %}
            <p>ローカルデータベース内のすべての文書：</p>
            <ul id="databaseFilesList">
                {% for document in documents %} <!-- Run through the models (references) in the database -->
                    {% if document.docfile %} <!-- Here I check whether the actual file has been deleted manually from 'tosend' folder -->
                    <li>
                        <p class="filePath"><a href="{{ document.docfile.url }}">/{{ document.docfile.name }}</a> {{ document.docfile.size|sizify }} <a class="button delete" href="delete/{{ document.id}}">X</a></p>
                        <object data="{{ document.docfile.name }}" type="application/pdf" frameborder="0" style="padding: 20px;">
                            <embed src="{{ document.docfile.url }}" width="320px" height="480px"/> 
                        </object>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>まだローカルデータベースに文書がアップロードされておりません。</p>
        {% endif %}

<!-- Upload form. Note enctype attribute! -->
<h2 class="form-text">ファイル選択</h2>
<form action="{% url 'list-view' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ message_start }} <span id="maximum" class="counters">{{ maximum }}</span> {{ message_end }}</p>

    <div class="form-text">
    <p>{{ form.non_field_errors }}</p>

    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
    <p>{{ form.docfile.errors }}</p>
    </div>

<!-- Preview the files before uploading section -->
<input
  type="file"
  name="docfile"
  id="fileElem"
  multiple
  accept="image/*,.pdf"
  autocomplete="off"
  style="display:none" />

<!-- #fileList is to preview the files with JS only, without registering the selected files in the local database -->
<div id="fileList">
  <p>まだファイルが選択されていらっしゃいません。</p>
</div>

<!-- Submit Button, remove onchange="form.submit()" from the input field to separate preview and upload input type="submit" if You need to -->
<a href="#" id="fileSelect" class="button">ファイル選択</a>
<input id="localDatabaseRegistration" type="submit" value="保留" class="button" name="docfile"/>

<a id="cancelAll" href="cancelall/" class="button">すべてのファイルをキャンセル</a>
<a id="sendAll" href="sendall/" class="button">保留されたファイルを送信</a>

</form>
<div id="info">最大 <span class="counters">{{ maximum }}</span> 個のファイルのうち <span id="counter" class="counters">{{ documents_count }}</span> 個を送信用に準備しました。</div>
<div id="error"></div>
<!-- the script to preview files without registration in the local database, I use it to hide the original input button and to have the customize button for files selection: -->

<script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>
