<!DOCTYPE html>
<html lang="ja-JP">
    <head>
        <meta charset="utf-8">
        <title>ファイルアップロード</title>
        {% load static %}
        <link rel="icon" type="image/svg+xml" href="{% static 'icon.svg' %}" sizes="any">
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <!-- List of uploaded documents -->
        {% if documents %}
            データベース内のすべての文書：
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                        <object data="{{ document.docfile.name }}" type="application/pdf" frameborder="0" width="320px" height="480px" style="padding: 20px;">
                            <embed src="{{ document.docfile.url }}" width="320px" height="480px"/> 
                        </object>
                {% endfor %}
            </ul>
        {% else %}
            <p>まだデータベースに文書がアップロードされておりません。</p>
        {% endif %}

<!-- Upload form. Note enctype attribute! -->
<h2>ファイル選択</h2>
<form action="{% url 'list-view' %}" method="post" enctype="multipart/form-data" class="dropzone">
    {% csrf_token %}
    {{ message }}
    <p>{{ form.non_field_errors }}</p>

    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
    <p>
        {{ form.docfile.errors }}
    </p>

<!-- Preview the files before uploading section -->
<input
  type="file"
  name="docfile"
  id="fileElem"
  multiple
  accept="image/*,.pdf"
  style="display:none" />
<div id="fileList">
  <p>まだファイルが選択されていらっしゃいません</p>
</div>

<!-- Just previews the files! -->
<a href="#" id="fileSelect" class="button">保留せずにファイルを見る</a>

<!-- True file select -->
<!-- <label for="id_docfile" class="button">保留ためのファイル選択</label> -->

<!-- Submit Button -->
<input type="submit" value="保留" class="button" name="register"/>

<!-- To see if the file is truely selected for testing purposes, remove in production -->
<p style="font-size: 75%;">ファイル選択インジケータ：</p>
<!-- {{ form.docfile }} -->
</form>

<a href="sendall/" class="button">すべてのファイルを送信</a>

<!-- the script to preview files without registration in the local database: -->
<script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>
